.page{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.App {
  text-align: center;
  position: relative;
  padding: 50px;
  display: flex;
  column-gap: 226px;
  align-items: center;
  background-color: #61dafb;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.video-class{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-aspect-ratio : 16/9){
  .video-class{
    width : auto;
    height: 100%;
  }
}
.description-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 10px;
}
.description-heading {
  font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    width: 300px;
}
.description-icon {
  width: 112px;
  height: 112px;
}
.description-subheading {
  font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(142,147,147,var(--tw-text-opacity));
    width: 310px;
}

.Footer{
  background-color: black;
  color: gray;
  padding: 50px 94px 150px 100px;
}
.link , .footer-link{
  font-size: 16px;
  cursor: pointer;
  color: white;
}
.footer-link{
  padding-left: 18px;
  padding-right: 18px;
}

.gradient-line{
  margin-bottom: 2rem;
  background: linear-gradient(90deg,#00dcc8 26.31%,#00dcc8 61.59%,#fff061 74.32%,#fff061 85.31%);
  transform: matrix(1,0,0,-1,0,0);
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.heading {
  font-size: 54px;
  text-align: initial;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  row-gap: 30px;
  z-index: 2;
}
.star{
  content: url("/public/star.svg");
}
.row-text{
  display: flex;
  column-gap: 10px;
}

.btn-container{
  width: 224px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 12px;
  cursor: pointer;
}
.apply-now{
  background-color: rgb(253, 239, 120);
  border-radius: 0.75em;
  width: 95px;
}
.experience-heading {
  font-size: 40px;
  font-weight: 500;
  color: white;
}
.exp-subHeading{
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
    color: rgba(191,201,204,var(--tw-text-opacity));
}
.Experience{
  background-color: rgba(34,38,39,var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.gradient-text {
  background-image: linear-gradient(158deg,#5ad6c4,#fdef78);
 background: linear-gradient(158deg,#5ad6c4,#fdef78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.playStore {
  content: url("/public/playStore.svg");
}
.appStore{
  content: url("/public/appStore.svg");
}
.screen-icon {
  width : 500px;
  height : 665px;
}
.input-container{
  --tw-bg-opacity: 1;
   background-color: rgba(0,0,0,var(--tw-bg-opacity));
   height: 52px;
   width: 336px;
   display: flex;
   padding: 2px 2px 2px 10px;
   border-radius: 0.75rem;
}
.input-number{
  background-color: black;
  color: white;
  cursor: pointer;
  width: 250px;
  border: none;
}
.checkbox-container{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.tick{
  content: url("/public/tick.svg");
  width: 15px;
  height: 15px;
  padding: 15px 4px 4px 5px;
}
.cross{
  content: url("/public/cross.svg");
  width: 15px;
  height: 15px;
  padding: 15px 4px 4px 5px;
}
.uni-img{
  content: url("/public/uni-img.png");
  width: 420px;
  height: 420px;
  margin-top: 100px;
}
.middle{
  text-align: center;
  font-size: 40px;
  padding: 100px;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
strong{
  color:black;
  opacity: 1;
  font-weight: 500;
}
.consent-label{
  display: flex;
    position: relative;
    align-items: center;
    font-size: 10px;
    width: 304px;
    text-align: initial;
}
.circle{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: linear-gradient(140.86deg, #65ECD8 11.07%, #FDEF78 80.28%);
  margin-top: 200px;
  position: relative;
}
.arrow{
  content:  url("/public/arrow.svg");
  position: absolute;
  top: 50px;
  left: 50px;
}
.comp-icon{
  width: 448px;
  height: 424px;
}
.one-percent-icon{
  content:  url("/public/one_percent_cashback.png");
}
.app-screen1{
  content: url("/public/app_screen_1.webp");
}
.app-screen2{
  content: url("/public/app_screen_2.webp");
}
.whatsApp-icon {
  content: url("/public/benefitIcons/whatsapp_bubble.webp");
}
.antivirus-icon {
  content: url("/public/benefitIcons/antivirus_bubble.webp");
}
.rupee-icon {
  content: url("/public/benefitIcons/rupee_bubble.webp");
}
.sbm-icon {
  content: url("/public/SBM.svg");
  width: 176px;
  height: 56px;
}
.pcidss{
  content: url("/public/benefitIcons/pcidss_cert.svg");
  height: 33px;
  width: 84px;
}
.five-x-reward{
  content:  url("/public/five_x_rewards.png");
  width: 448px;
  height: 424px;
}
.forex{
  content: url("/public/forex_globe.png");
}
.free-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  margin-top: 162px;
  margin-bottom: 162px;
}
.free-text{
  --tw-text-opacity: 1;
  color: rgba(90,214,196,var(--tw-text-opacity));
  font-weight: 500;
}
.one-percent-comp{
  display: flex;
  text-align: center;
  align-items: center;
  column-gap: 150px;
}
.middle-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 120px;
}
.mobile-description {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 100px;
}
.Download {
  background : linear-gradient(158deg,#5ad6c4,#fdef78);
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}
.Note{
  padding-left: 2rem;
  padding-right: 2rem;
  --tw-text-opacity: 1;
  color: rgba(191,201,204,var(--tw-text-opacity));
  background-color: black;
  text-align: center;
  padding: 64px 48px;
  font-size: 24px;
}
.description{
  font-size: 40px;
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: baseline;
  text-align: initial;
}
.strong-des{
  font-weight: 700;
}
.strong-sub{
  color : gray;
}
.desc-sub{
  font-size: 1.125rem;
    line-height: 1.75rem;
    color: gray;
    text-align: initial;
}
.BenefitComponent{
  display: flex;
  column-gap: 120px;
  padding-bottom: 100px;
}
.security{
  --tw-bg-opacity: 1;
  background-color: rgba(34,34,34,var(--tw-bg-opacity));
  height: 64px;
  --tw-text-opacity: 1;
  color: rgba(141,141,149,var(--tw-text-opacity));
  display: flex;
  align-items: center;
  justify-content: center;
}

.uni-logo{
  content: url("/public/uni-logo.svg");
  width: 120px;
    height: 90px;
}
.uni-logo-2 {
  content: url("/public/uniLogo2.svg");
  width: 120px;
  height: 90px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

